*{
    margin: 0px;
    padding: 0px;
    box-shadow: border-box;
    font-family: Arial;
}
body{
    background-color: rgb(234,238,243);
}
.anch {
    background-color: rgb(234,238,243);
}
#logo {
    display: block;
    margin: auto;
    width: 260px;
    padding: 10px;
}
.menu {
    text-align: center; 
    color: black;  
}
.l{
    background-color: rgb(234,238,243);
    list-style: none;
    padding: 10px;
    margin: 1px;
}

.l a{
    text-decoration: none;
    color: black;
}
.label{
    text-align: center;
    margin:auto;
    font-weight: bold;
}
.borde{
    text-align: center;
    margin: 30px;
    border: 2px solid #000000;
    background-color: rgb(234,238,243);
}
button{
    font-size: 12px;
    text-decoration-style: solid;
    padding: 6px;
    font-weight: bold;
    color: #000;
    border-radius: 0px;
    border: 2px solid #000000;
    background-color: white;
    }
    .left{
        margin: 10px;
        font-weight: bold;
    }
img{
    width: 100%;
    height: auto;
}

@media (min-width: 1024px) {
    body{
        background-color: rgb(234,238,243);
    }
    .anch{
        width: auto;
        height: 76px;
        display: flex;
        background-color: rgb(234,238,243);
    }
    #logo{
        width: 310px;
        height: 75px;
        float: left;
        padding-top: 10px;
        box-sizing: border-box;
        margin-right: 180px;
        background-color: rgb(234,238,243);
    }
    .menu{
        width: auto;
        height: auto;
        float: left;
        padding-top: 24px;
        box-sizing: border-box;
        background-color: rgb(234,238,243);        
    }
    .l {
        display: inline;
            background-color: rgb(234,238,243);
    }
    .l a{
        font-size: 21px;
        text-decoration: none;
        text-align: left;
        font-family: Arial;
    }
    input {
        text-decoration: none;
        padding: 15px;
        font-weight: 700px;
        font-size: 15px;
        color: rgb(10,10,10);
        background-color: rgb(250,250,250);
        border-radius: 0px;
        
    }
    
    .label{
        font-size: 24px;
        margin: 10px;
        
    }
    .borde{
        margin: 30px;
        text-align: center;
        border: 2px solid #000000;
        background-color: rgb(234,238,243);
    }
    button{
    font-size: 20px;
    text-decoration-style: solid;
    padding: 6px;
    font-weight: bold;
    color: #000;
    border-radius: 0px;
    border: 2px solid #000000;
    background-color: white;
    }
    .left{
        margin: 10px;
        font-weight: bold;
    }
    img{
        width: 30%;
        margin: 5px;
        text-align: center;
    }
}

