<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/estilo2.css' %}" />
    <title>Registro usuario</title>
</head>
<body>


<div class="anch">
    <div class="box1">
                <img id="logo" src="{% static 'images/logo.png' %}" alt="">
        </div>
    
        <div class="box2">
                <nav class="menu">
                        <ul>
                            <li class="l"><a href="{% url 'formulario' %}">Inicio</a></li>
                            <li class="l"><a href="{% url 'accounts:signup' %}">Registrarse</a></li>
                            <li class="l"><a href="{% url 'servicio' %}">Servicios</a></li>  
                            <li class="l"><a href="{% url 'accounts:login' %}">Iniciar sesión</a></li>
                        </ul>
                </nav>
        </div>
    </div> 

    <div class="borde">
        
            <h1>Iniciar Sesión</h1>
        <br>
        <br>
            <form method="POST">
                {% csrf_token %}
                {{ form }}
                <br>
                {% if request.GET.next %}
                    <input type="hidden" name="next" value="{{ request.GET.next }}">
                {% endif %}
                <br>
                <br>
                <a href="{%  url 'accounts:recup' %}">¿Olvidaste tu contraseña?</a>
                <br>
                <br>
                <a href="{% url 'accounts:signup' %}">¡Ya puedes registrarte aquí!</a>
                <br>
                <br>
                <input type="submit" value="Iniciar Sesión"> 
                <br>
                <br>
                <br>
                
                  
            </form>
            <a href="{% url 'social:begin' 'facebook' %}">Login con facebook</a>
        
        
    </div>
</div> 
</body>
</html>
