<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/estilo2.css' %}" />
    <title>registro</title>
</head>
<body>


<div class="anch">
    <div class="box1">
                <img id="logo" src="{% static 'images/logo.png' %}" alt="">
        </div>
    
        <div class="box2">
                <nav class="menu">
                        <ul>
                            <li class="l"><a href="{% url 'formulario' %}">Inicio</a></li>
                            <li class="l"><a href="{% url 'accounts:signup' %}">Registrarse</a></li>
                            <li class="l"><a href="{% url 'servicio' %}">Servicios</a></li>  
                            <li class="l"><a href="{% url 'accounts:login' %}">Iniciar sesión</a></li>
                        </ul>
                </nav>
        </div>
    </div>

    <div class="borde">
        <form action="" method="post">
            {% csrf_token %}
            <h1>Recuperar Contraseña</h1>
            <br>
            <br>
            <div class="left"> Correo electrónico: </div> <div class="right"><input type="email"  name="correo"  required oninput="validarCorreo(this)" placeholder="micorreo@gmail.com"></div>
            <br />
            <h3>Se enviara un link al correo solicitado</h3>
            <br />
            <br />
           
            <input type="submit" value="Enviar">
        
        </form>    
        
        
    </div>
   

</div>
   
</body>
</html>
