<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/estilo2.css' %}" />

    <title>Confirmación</title>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
        <br>
        <br>
        <br>
        <br>
        <h2 style="text-align: center">¿Estas seguro que quieres eliminar a: {{ mascota.nombre }}?</h2>
        <br>
        <br>
        <div style="text-align: center;">
            <button type="submit" >Confirmar</button>
        </div>

    </form>
</body>
</html>