<!DOCTYPE html>
{% load static %}
<html lang="es">
    <head>
        <meta charset="utf-8">
        <title>Adopcion de gatitos</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="{% static 'js/slick/slick.css' %}">
        <link rel="stylesheet" href="{% static 'js/slick/slick-theme.css' %}">
        <link rel="stylesheet" href="{% static 'css/lightbox.min.css' %}">
        <script src="{% static 'js/jquery-latest.js' %}"></script>
        <script src="{% static 'js/slick/slick.min.js' %}"></script>
    </head>
    <body>
        <div class="container1">
            <div class="anch">
                <div class="box1">
                        <img id="logo" src="{% static 'images/Logo.png' %}" alt="">
                </div>
            
                <div class="box2">
                        <nav class="menu">
                                <ul>
                                    <li class="l"><a href="{% url 'formulario' %}">Inicio</a></li>
                                    {% if not user.is_active %}
                                    <li class="l"><a href="{% url 'accounts:signup' %}">Registrarse</a></li>
                                    {% endif %}
                                    <li class="l"><a href="{% url 'servicio' %}">Servicios</a></li>
                                    {% if user.is_active %}
                                        <li class="l"><a href="">{{user.username}}</a></li>
                                    {% else %}
                                        <li class="l"><a href="{% url 'accounts:login' %}">Iniciar sesión</a></li>
                                    {% endif %}
                                </ul>
                        </nav>
                </div>
            </div>
                <div class="slick">
                    <div class="slide slide1">
                        <img class="carr" src="{% static 'images/adoptados/g1.gif' %}" alt="">  
                    </div>
                    <div class="slide slide2">
                        <img class="carr"  src="{% static 'images/adoptados/g3.jpg' %}" alt="">
                    </div>
                    <div class="slide slide3">
                        <img class="carr" src="{% static 'images/adoptados/g4.gif' %}"  alt="">
                    </div>
                </div>
                <script>
                    $(".slick").slick({
                        dots: true,
                        fade: true,
                        arrows: true,
                        autoplay: true 
                    }    
                    ) ;
                </script>
                <div class="sub">
                <div id="ws"> </div>
                <div id="tit"> Adopción de Gatitos hermosos</div>
                <div class="redes">
                    <img src="{% static 'images/fb.png' %}" alt="">
                    <img src="{% static 'images/google.png' %}" alt="">
                    <img src="{% static 'images/insta.png' %}" alt="">
                    <img src="{% static 'images/mail.png' %}" alt="">

                </div>
                </div>
                
        </div>
         <br>
         <br>
        <!-- invento -->
        <div class="container2">
                <div class="articulo1"> 
                        <h2 >FÉLIX</h2>
                        <p >_____________________________</p>
                        <br>
                        <h4 >Juguetón</h4>
                        <br>						
                        <p>Desparasitado, perfil virico negativo, esterilizado y vacunas al día.</p>
                        <br>
                        <img  width="300px" height="250px"  src="{% static 'images/gato1.jpeg' %}" alt="">
        
                </div>
                <div class="articulo2">
                        <img src="{% static 'images/gato2.jpg' %}" alt="">
                        <br>
                        <br>
                        <h2>TOM</h2>
                        <p>______________</p>
                        <br>
                        <p>Pelaje plomo con blanco, muy lindo, cariñoso y jugeton con los niños, <br/>esterilizado y con vacunas al día.</p>
                        <br>
                </div>
        </div>
        <!-- fin INVENTO -->
        <div class="pie">
               <footer>
                   <h5>Desarrollo Web y Mobile</h5>
                {% if user.is_active %}
                    <form action="{% url 'accounts:logout' %}" method="post"> {% csrf_token %}
                        <button type="submit" id="logout">Cerrar Sesión</button>
                    </form>  
                   <h5 id="cone">Conectado como {{user.username}}</h5>
                {% endif %}
               </footer>
        </div>
    </body>
</html>